.card
  .card-header.text-center.dropdown-toggle{data: {toggle: "collapse", target: '#entrants-table'}}
    Entrants List
  - show_list = race.entrants.count <= 5 || race.finished?
  #entrants-table.collapse{class: show_list ? 'show' : ''}
    %table.card-body.table.table-hover.text-center.mb-0.w-100
      %thead
        %tr
          %th Entrant
          %th Ready?
          %th Time
          %th Place
      %tbody
        - race.sorted_entrants.each do |e|
          %tr{'id' => "entrant-id-#{e.id}", 'data-entrant-id' => e.id}
            %td.name-column
              = e.user.display_name
            %td.ready-column
              %i{class: e.ready ? 'fas fa-check text-success' : 'fas fa-times text-danger'}
            %td.time-column
              .format-time>
                = e.completed? ? e.duration : '-'
            %td.place-column
              .format-place>= e.place.present? ? e.place : '-'
