- current_entrant = @race.entrant_for_user(current_user)
- join_class = !@race.started? && !current_entrant ? 'show' : 'hidden'
- part_class = !@race.started? && current_entrant ? 'show' : 'hidden'
- abandon_class = @race.in_progress? && current_entrant && !current_entrant.finished? ? 'show': 'hidden'
- ready_class = !@race.started? ? 'show' : 'hidden'
- unready_class = !@race.started? && current_entrant && current_entrant.ready ? 'show' : 'hidden'
- done_class = @race.in_progress? && current_entrant ? 'show' : 'hidden'
- rejoin_class = @race.in_progress? && current_entrant && current_entrant.finished? ? 'show' : 'hidden'

.col-md-2
  %button.btn.btn-success.btn-join-race{class: join_class, disabled: @race.in_progress? || current_user.nil?}
    Join Race
  %button.btn.btn-danger.btn-part-race{class: part_class}
    Part Race
  %button.btn.btn-danger.btn-abandon-race{class: abandon_class} Abandon Race
  %button.btn.btn-danger.btn-rejoin-race{class: rejoin_class} Rejoin
.col-md-2
  %button.btn.btn-success.btn-ready-race{class: ready_class, disabled: !current_entrant.present?}
    Ready Up
  %button.btn.btn-danger.btn-unready-race{class: unready_class}
    Unready
  %button.btn.btn-success.btn-done-race{class: done_class, disabled: current_entrant.try(:finished?)} Done!
