= provide(:title, 'FAQ')
.question
  %h5 How do I start a race?
  Races will start automatically when it has 2 or more entrants and all entratns have
  readied up. A countdown will show and then you'll be going fast!

.question
  %h5 Why do I have to link my Twitch account to race?
  In order to prevent cheating, all races must be streamed. Currently Twitch is the
  only streaming platform available.
