= provide(:title, 'FAQ')
.question
  %h5 How do I create a race?
  Find the game you want to start a race for (probably through the search function) and
  inside the games page there will be all the categories listed. If logged in a button
  will show that can create a race for that game's category.

.question
  %h5 When will my race start?
  Races will start automatically when it has 2 or more entrants and all entrants have
  readied up. A countdown will show and then you'll be going fast!

.question
  %h5 Why do I have to link my Twitch account to race?
  In order to prevent cheating, all races must be streamed. Currently Twitch is the
  only streaming platform available.
