.ajs-message.ajs-success {
    background-color: #77b300 !important;
    border-color: #809a00;
    color: white;
}

.ajs-message.ajs-danger {
    background-color: #cc0000 !important;
    border-color: #bd001f;
    color: white;
}

.ajs-message.ajs-warning {
    background-color: #ff8800 !important;
    border-color: #f05800;
    color: white;
}

.ajs-message.ajs-info {
    background-color: #9933cc !important;
    border-color: #6e2caf;
    color: white;
}
